header {
    background-color: #5F3052;
    padding: 1em;
}
body {
    background-color: #06AFB2;
    color: #5F3052;
    max-width: 950px;
    margin: auto;
}

main {
    
    background-color: #F6F4F6;
    padding: 1em;
    margin-top: -10px;
    padding: 10px; 
    height: 23rem;
  
}

ul, p {
    color: #100F1A;
    font-family: Montserrat, sans-serif;
    list-style-type: circle;
    margin: 10px;
    margin-top: 30px;
    font-size: 0.9rem;
}

h1 {
    color: #F6F4F6;
    font-family: Caveat, cursive;
    margin: 10px;
    padding: 15px;
    text-shadow: 1px 1px 1px #06AFB2;
    font-size: 2.6rem;
    text-align: center;
}

h2 {
    color: #F62559;
    font-family: Arapey, serif;
    margin-left: 30px;
    font-size: 1.4rem;
}

a {
  color: #5F3052;
}

a:hover {
  color: #06AFB2;
}

footer {
  font-family: Montserrat, sans-serif;
  font-size: 0.8em;
  color: #F6F4F6;
  background-color: #5F3052;
  padding: 15px; 
  text-align: center;
}

footer a {
  color: white;
}


.connorandemma {
  display: block;
  margin: 0 auto;
  width: 50%;
  width: 270px;
  box-shadow: 5px 5px 0px rgba(16, 15, 26, 0.4);
}

hr {
  margin-top: -10px;
}
.modified {
  color: #FBA7BC
}