@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Caveat&family=Montserrat&display=swap');
header {
    background-color: #5F3052;
    margin: -10px;
    height: 70px;
}
body {
    background-color: #F6F4F6;
    color:#5F3052;
    max-width: 1000px;
    margin: auto;
}

main {
    padding: 26px;
  
}

ul, p {
    color: #100F1A;
    font-family: Montserrat, sans-serif;
}

h1 {
    color: #F6F4F6;
    font-family: Caveat, cursive;
    margin: 10px;
    padding: 15px;
    text-shadow: 1px 1px 1px #06AFB2;
}

h2 {
    color: #5F3052;
    font-family: Arapey, serif;
}

a {
  color: #06AFB2;
}

footer {
  font-family: Montseratt, sans-serif;
  font-size: 0.8em;
}