body {
    background-color: #7AB9CD;
}

main {
    max-width: 70rem;
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px; 
}


h2, h3, h4 {
    font-family: "Slabo 27px", serif;
    color: #7B0828;
    font-size: 2.3rem;
    padding-left: 10px;
}

.slogan {
    font-family: "Lato", sans-serif;
    font-size: .8rem;
    font-style: italic;
    margin-top: -15px;
    color: #011627;
    padding-left: 15px;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}
p {
    font-family: "Lato", sans-serif;
    color: #011627;
    padding-left: 7px;
}

main ul li, main ol li {
    font-family: "Lato";
    color: #011627;
    padding-left: 7px;
    padding: 5px;
}

header {
    background-color: #7AB9CD;

}

.miniheader {
    background-color: #388659;
    padding: 15px;
    padding-left: 10px;
    text-align: center;
    margin: auto;
    font-family: "Oleo Script", cursive;
    color: #011627;
    text-shadow: 1px 1px 1px #F5F5F5;
}

button {
    background-color: #011627;
    color: #F5F5F5;
    border: none;
    display: block;
    width: 100%;
    padding: 0.80rem;
    text-align: left;
    transition: 0.2s;
}

button:hover {
    background-color: #7B0828;
    
}


nav {
    background-color: #011627;
    color: #F5F5F5;
    font-family: "Lato", sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav ul li a{
	display: block;
	text-align: center;
	padding: 0.80rem;
	text-decoration: none;
	font-size: 0.95rem;
    color:#F5F5F5;
    transition: 0.2s;
}

nav ul li a:hover {
	background-color: #7B0828;
}

nav ul li a:visited {
    color: #F5F5F5;
}
nav ul.hide {
    display: none;
}


div#message {
    background-color:#7B0828;
}

div#message h2 {
    color:#F5F5F5;
    margin: auto;
    padding: 20px;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    text-align: center;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.active {
    background-color: #7B0828;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}

.heroimage {
    width: 100%;
}

.weathersummary {
    background: rgba(250,250,250,0.8);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 15px;
    margin: 10px;
}

.weathersummary h3 {
    padding-left: 5px;
    font-size: 1.5rem;
    margin-top: 5px;
}

.fivedayforecast {
    display: none;
}

.article {
    padding: 20px;
}

.smallscreen {
    width: 100%;
}

.largescreen {
    display: none;
}

.contactus div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contactus div div {
    display: block;
}

.contactus div div p {
    margin: 10px;
    
}

.contactus h2 {
    margin: 15px;
}

.contactus div div h3 {
    margin: 10px;
}

.map {
    padding: 60px;
    margin: 10px;
    background-color: lightblue;
    grid-column: 1/3;
    
}


footer {
    background-color: #7B0828;
    color: #F5F5F5;
    text-align: center;
    margin: auto;
    font-family: "Lato";
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.8rem;
}

footer a {
    color:#F5F5F5
}

#weathericonexample {
    width: 300px;
}

.weathericon {
    width: 50%;
    margin: -10px;
    padding-left: 20px;
    padding-top: 10px;
}

.centeredh2 {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}



