body {
    background-color: #7AB9CD;
}

main {
    max-width: 1000px;
    background-color: #F5F5F5;
   
    
    padding: 20px;
}

h2, h3, h4 {
    font-family: "Slabo 27px", serif;
    color: #7B0828;
    font-size: 2.3rem;
    padding-left: 10px;
    
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}
p {
    font-family: "Lato";
    color: #011627;
    padding-left: 7px;
}

main ul li, main ol li {
    font-family: "Lato";
    color: #011627;
    padding-left: 7px;
    padding: 5px;
}

header {
    background-color: #7AB9CD;

}

header h1 {
    background-color: #388659;
    padding: 15px;
    padding-left: 10px;
    text-align: center;
    margin: auto;
    font-family: "Oleo Script", cursive;
    color: #011627;
    text-shadow: 1px 1px 1px #F5F5F5;
}



nav {
    background-color: #011627;
    color: #F5F5F5;
    font-family: "Lato", sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
	display: block;
	text-align: center;
	padding: 0.80rem;
	text-decoration: none;
	font-size: 0.95rem;
    color:#F5F5F5;
}

nav ul li a:hover {
	background-color: #7B0828;
}

nav ul li a:visited {
    color: #F5F5F5;
}

footer {
    background-color: #7B0828;
    color: #F5F5F5;
    text-align: center;
    margin: auto;
    font-family: "Lato";
    padding-top: 15px;
    padding-bottom: 15px;
}

footer a {
    color:#F5F5F5
}

#weathericonexample {
    width: 300px;
}

.weathericon {
    width: 50%;
    margin: -10px;
    padding-left: 15px;
    padding-top: 10px;
}

.centeredh2 {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

div img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#imagedescription {
    text-align: center;
    font-family: "Lato";
    color: darkslategray;
    font-size: .8rem;
}

#imagedescription a {
    color: #7B0828;
    font-size: .8rem;
}


#fontexample1 {
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    display: inline;
    color: #011627;
}

#fontexample2 {
    font-family: "Oleo Script", cursive;
    font-size: 1.4rem;
    display: inline;
    color: #011627;
}

#fontexample3 {
    font-family: "Slabo 27px", serif;
    font-size: 1.3rem;
    display: inline;
    color: #011627;
}

.active {
    background-color: #7B0828;
    color:#7AB9CD;
}